PORT=5000
MONGO_URI=your_mongodb_connection_string


FIREBASE_API_KEY=your_firebase_api_key
FIREBASE_SERVICE_ACCOUNT_KEY={"type":"service_account","project_id":"your_project_id"}

NODEMAILER_EMAIL=your_email@gmail.com
NODEMAILER_PASSWORD=your_app_password