PORT=4000
MONGO_URI=mongodb+srv://user:password@cluster0.example.mongodb.net/?appName=Cluster0

FIREBASE_API_KEY=your_firebase_web_api_key
FIREBASE_SERVICE_ACCOUNT_PATH=./src/config/firebase-service-account.json

NODEMAILER_EMAIL=your_email@gmail.com
NODEMAILER_PASSWORD=your_gmail_app_password_no_spaces

FRONTEND_URL=http://localhost:5173
